@import "locomotive-scroll/dist/locomotive-scroll.css";

html {
  font-size: calc(100vw / var(--sizes-mobile) * 10);
  font-family: var(--font-satoshi);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-black);
  color: var(--color-white);
  pointer-events: none;
}

@media (min-width: 768px) {
  html {
    font-size: calc(100vw / var(--sizes-desktop) * 10);
  }
}

html.visible {
  pointer-events: all;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#scroll-wrapper {
  position: fixed;
  overflow-x: clip;
  overflow-y: hidden;
  height: 100vh;
  height: 100dvh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.loaded #scroll-wrapper {
  position: relative;
  overflow-y: scroll;
}

#scroll-wrapper::-webkit-scrollbar {
  display: none;
}

#scroll-content {
  position: relative;
}

main {
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: var(--z-index-content);
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

a,
button {
  cursor: pointer;
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 0.3em;
}

summary:focus-visible {
  outline: none;
}

summary:focus-visible div {
  outline: 1px solid currentColor;
  outline-offset: 0.3em;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--z-index-canvas);
}

[data-animation="appear"] {
  opacity: 0;
  transition: opacity 1s var(--ease-in-out);
  transition-delay: var(--delay, 0s);
}

[data-animation="appear"].is-inview {
  opacity: 1;
}

[data-animation="slide-up"] {
  transform: translateY(var(--y, 20%));
  opacity: var(--opacity-from, 1);
  transition:
    transform 0.6s var(--ease-out),
    opacity 0.6s var(--ease-out);
  transition-delay: var(--delay, 0s);
  will-change: transform;
}

[data-animation="slide-up"].is-inview {
  transform: translateY(0%);
  opacity: 1;
}

[data-animation="line"] {
  transform: scale(0);
  transform-origin: var(--origin, left);
  transition: transform 1.25s var(--ease-in-out);
  transition-delay: var(--delay, 0s);
  will-change: transform;
}

[data-animation="line"].is-inview {
  transform: scale(1);
}

[data-animation="text"] div div {
  transform: translateY(125%) rotate(var(--rotate, 0deg));
  transition: transform 1.5s var(--ease-expo-out);
  transition-delay: calc(var(--delay, 0s) + (var(--index, 0) * 0.1s));
  will-change: transform;
}

[data-animation="text"].is-inview div div {
  transform: translateY(0%) rotate(0deg);
}
