@theme {
  --color-white: rgb(222, 222, 222);
  --color-black: rgb(30, 30, 30);

  --font-satoshi: "Satoshi", sans-serif;
  --font-sans: var(--font-satoshi);

  --breakpoint-md: 768px;

  --sizes-desktop: 1440;
  --sizes-mobile: 375;

  --grid-count: 6;
  --grid-gutter: 2rem;
  --grid-margin: 2.4rem;
  --grid-width: calc(100vw - (2 * var(--grid-margin)));
  --grid-column-width: calc(
    (var(--grid-width) - ((var(--grid-count) - 1) * var(--grid-gutter))) /
      var(--grid-count)
  );

  --z-canvas: 1;
  --z-content: 2;
  --z-navigation: 3;
  --z-menu: 4;
  --z-preloader: 5;
  --z-grid: 6;

  /* QUAD */
  --ease-power1-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-power1-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-power1-inOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* CUBIC */
  --ease-power2-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-power2-inOut: cubic-bezier(0.645, 0.045, 0.355, 1);
  /* QUART */
  --ease-power3-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-power3-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-power3-inOut: cubic-bezier(0.77, 0, 0.175, 1);
  /* QUINT */
  --ease-power4-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-power4-out: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-power4-inOut: cubic-bezier(0.86, 0, 0.07, 1);
  /* EXPO */
  --ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-expo-inOut: cubic-bezier(1, 0, 0, 1);
  /* BACK */
  --ease-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-back-inOut: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* SINE */
  --ease-sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-sine-inOut: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  /* CIRC */
  --ease-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-circ-inOut: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* OTHERS */
  --ease-bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);
  --ease-slow-out: cubic-bezier(0, 1, 0.4, 1);
  --ease-smooth: cubic-bezier(0.38, 0, 0.215, 1);

  --transition-duration-fast: 0.15s;
  --transition-duration: 0.3s;
  --transition-duration-medium: 0.45s;
  --transition-duration-slow: 0.6s;
  --transition-duration-slower: 0.9s;
  --transition-duration-slowest: 1.2s;
}

@media (min-width: 768px) {
  :root {
    --grid-count: 12;
    --grid-gutter: 2rem;
    --grid-margin: 3.2rem;
  }
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-medium.woff2") format("woff2"),
    url("/fonts/satoshi-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
