@utility hover-fade {
  transition-property: color, opacity;
  transition-duration: var(--transition-duration-base);
  transition-timing-function: var(--ease-sine-out);
}

@utility hover-color {
  transition-property: color;
  transition-duration: var(--transition-duration-base);
  transition-timing-function: var(--ease-sine-out);
}

@utility hover-transform {
  transition-property: transform;
  transition-duration: var(--transition-duration-medium);
  transition-timing-function: var(--ease-power2-out);
}
