/* QUAD */
@utility ease-power1-in {
  transition-timing-function: var(--ease-power1-in);
}

@utility ease-power1-out {
  transition-timing-function: var(--ease-power1-out);
}

@utility ease-power1-inOut {
  transition-timing-function: var(--ease-power1-inOut);
}

/* CUBIC */
@utility ease-power2-in {
  transition-timing-function: var(--ease-power2-in);
}

@utility ease-power2-out {
  transition-timing-function: var(--ease-power2-out);
}

@utility ease-power2-inOut {
  transition-timing-function: var(--ease-power2-inOut);
}

/* QUART */
@utility ease-power3-in {
  transition-timing-function: var(--ease-power3-in);
}

@utility ease-power3-out {
  transition-timing-function: var(--ease-power3-out);
}

@utility ease-power3-inOut {
  transition-timing-function: var(--ease-power3-inOut);
}

/* QUINT */
@utility ease-power4-in {
  transition-timing-function: var(--ease-power4-in);
}

@utility ease-power4-out {
  transition-timing-function: var(--ease-power4-out);
}

@utility ease-power4-inOut {
  transition-timing-function: var(--ease-power4-inOut);
}

/* EXPO */
@utility ease-expo-in {
  transition-timing-function: var(--ease-expo-in);
}

@utility ease-expo-out {
  transition-timing-function: var(--ease-expo-out);
}

@utility ease-expo-inOut {
  transition-timing-function: var(--ease-expo-inOut);
}

/* BACK */
@utility ease-back-in {
  transition-timing-function: var(--ease-back-in);
}

@utility ease-back-out {
  transition-timing-function: var(--ease-back-out);
}

@utility ease-back-inOut {
  transition-timing-function: var(--ease-back-inOut);
}

/* SINE */
@utility ease-sine-in {
  transition-timing-function: var(--ease-sine-in);
}

@utility ease-sine-out {
  transition-timing-function: var(--ease-sine-out);
}

@utility ease-sine-inOut {
  transition-timing-function: var(--ease-sine-inOut);
}

/* CIRC */
@utility ease-circ-in {
  transition-timing-function: var(--ease-circ-in);
}

@utility ease-circ-out {
  transition-timing-function: var(--ease-circ-out);
}

@utility ease-circ-inOut {
  transition-timing-function: var(--ease-circ-inOut);
}

/* OTHERS */
@utility ease-bounce {
  transition-timing-function: var(--ease-bounce);
}

@utility ease-slow-out {
  transition-timing-function: var(--ease-slow-out);
}

@utility ease-smooth {
  transition-timing-function: var(--ease-smooth);
}

/* DURATIONS */
@utility duration-fast {
  transition-duration: var(--transition-duration-fast);
}

@utility duration {
  transition-duration: var(--transition-duration);
}

@utility duration-medium {
  transition-duration: var(--transition-duration-medium);
}

@utility duration-slow {
  transition-duration: var(--transition-duration-slow);
}

@utility duration-slower {
  transition-duration: var(--transition-duration-slower);
}

@utility duration-slowest {
  transition-duration: var(--transition-duration-slowest);
}

/* TRANSITION SHORTHANDS */
@utility hover-fade {
  transition-property: color, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--ease-sine-out);
}

@utility hover-color {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--ease-sine-out);
}

@utility hover-transform {
  transition-property: transform;
  transition-duration: var(--transition-duration-medium);
  transition-timing-function: var(--ease-power2-out);
}
