@utility heading-l {
  font-size: 8rem;
}

@utility heading {
  font-size: 4rem;
}

@utility body-l {
  font-size: 2rem;
}

@utility body {
  font-size: 1.6rem;
}

@utility body-s {
  font-size: 1.4rem;
}

@utility body-xs {
  font-size: 1.2rem;
}
