@utility text-heading-l {
  font-size: 8rem;
}

@utility text-heading {
  font-size: 4rem;
}

@utility text-l {
  font-size: 2rem;
}

@utility text-base {
  font-size: 1.6rem;
}

@utility text-s {
  font-size: 1.4rem;
}

@utility text-xs {
  font-size: 1.2rem;
}
